<!DOCTYPE html>
<html>
  <head>
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Developer Skills</h1>
    <!-- List skills -->
    <p>-Skill 1</p>
  </body>
</html>