<!DOCTYPE html>
<html>
  <head>
      <!-- skill#new -->
    <title>Add Skill</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>Add Skill</h1>
        <!-- action= path -->
        <!-- We will collect data from /skills/new and post to /skills -->
        <form action="/skills" method="POST" autocomplete="off">
          <!-- The names must map exactly to model attributes -->
          <label for="language">Skill</label>
          <input type="text" name="language" >
          <label for="level">Level</label>
          <input type="number" name="level" >
          <label for="description">Description</label>
          <input type="text" name="description" >
          <button type="submit">Add Skill</button>
        </form>
  </body>
</html>



