<!DOCTYPE html>
<html>
  <head>
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>Skill #<%= skillNum %></h1>
        <h2><%= skill.language %></h2>
        <h3>Level <%= skill.level %></h3>
        <h3><%= skill.description %></h3>
  </body>
</html>