<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Anami's Live Portfolio</h1>
    <a href="/skills/index.ejs">Developer skills</a>
  </body>
</html>
